
/* #region common styles */
body {
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: #2E2F42; 
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}
.accent {
    color: #4D5AE5;
}
.accent-footer {
    color: #F4F4FD;
}
button:hover,
button:focus {
    background-color: #404BBF;
}
button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #4D5AE5;
}
a {
    font-style: normal;
    text-decoration: none;
    color:inherit;
}
a:hover,
a:focus {
    color: #404BBF;
}
ul {
    list-style-type: none;
}

/* #endregion common styles */

/* #region heder */

.page-header {
    background-color: #FFFFFF;
}
.page-nav {
    display:block;
}

.nav-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;   
}

.address-list {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


/* #endregion heder */

/* #region hero */

.hero-section {
    background-color: #2E2F42;
}
.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}

/* #endregion hero */

/* #region Our Features */

.features-section {
    background-color: #FFFFFF;
}
.features-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.features-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* #endregion Our Features */

/* #region Our Team */

.team-section {
    background-color: #f4f4fd;
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
}
.team-list {
   display: block;   
}
.team-item {
    background-color: #FFFFFF;
}
.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
}
.team-position {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
/* #endregion Our Team */

/* #region Our Portfolio */

.portfolio-section {
    background-color: #FFFFFF;
}
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
}
.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.portfolio-position {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* #endregion Our Portfolio */

/* #region footer */
.page-footer {
    background-color: #2E2F42;
}
.footer-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}
/* #endregion footer */